fastapi==0.136.3
fastapi-users[sqlalchemy,oauth]==15.0.5
uvicorn[standard]==0.34.3
asyncpg==0.30.0
alembic==1.16.5
pydantic-settings==2.14.2

python-multipart==0.0.32
openpyxl==3.1.5

langchain==0.3.25
langchain-core==0.3.60
langchain-community==0.3.24
langgraph==0.4.8
langgraph-checkpoint==2.1.0

langchain-ollama==0.3.3
langchain-ibm==0.3.8

requests==2.32.3
youtube-transcript-api==1.2.4

python-dotenv==1.1.0

gtts==2.5.4
click==8.1.8
